@import "../../../styles/sections/variables.scss";

.ui-segment {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: $control-text-size-normal;

  padding: 0;
  margin: 0;

  button {
    cursor: pointer;
    border: solid $control-border-width $control-border-color;
    border-right: none;
    background-color: lighten($button-background-color, 20);
    height: $control-height;
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    color: darken($button-background-color, 30);

    &:hover {
      background-color: $button-background-hover-color;
    }

    &.selected {
      background-color: $button-background-color;
      color: $control-text-color-light;
    }

    &:first-child {
      border-bottom-left-radius: 8px;
      border-top-left-radius: 8px;
    }

    &:last-child {
      border-bottom-right-radius: 8px;
      border-top-right-radius: 8px;
      border-right: solid $control-border-width $control-border-color;
    }
  }
}
